body {
  background: linear-gradient(45deg, red, blue);
}
.column8 {
  /* background-color: rgb(228, 220, 210); */
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
  align-items: left;
  width: 60vw;
  height: auto;
}
.column4 {
  /* background-color: rgb(201, 225, 235); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: auto;
}
.photochanging {
  border: none;
  border-radius: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height:15vw;
  width: 15vw;
}
.sizechange {
  border: none;
  border-radius: 100%;
  width: 2vw;
  height: 2vw;
}
.sizediffer {
  border: none;
  border-radius: 10%;
  width: 2vw;
  height: 2vw;
}
.career {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5vw;
  text-align: center;
}
.career2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5vh;
  padding: 0.2vw 2vw;
}
.textcareer {
  margin: auto;
}
.my-2vh {
  margin: 2vh 0vh 2vh 0vh;
}
.flexcol {
  display: flex;
  margin: 2vh 0vh;
  flex-direction: column;
  row-gap: 0.4vh;
}

.forall {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vh;
}
.forall2 {
  display: flex;
  align-items: left;
  column-gap: 1vh;
}
.fontsize {
  font-size: 2vh;
}
.interests {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: left;
  align-items: left;
}
.mauto {
  margin: auto;
}

.selfleft {
  justify-self: left;
}

.beautifulheading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorchange {
  background: -webkit-linear-gradient(#ecfffd, #b67464);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bolder;
  border: none;
}

.colorchange :hover{
  border:none;
}

.bordernone{
  border: none;
}

